<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marineking.nfcautoswitch">

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 新增：宣告我們需要查詢 NFC 服務 (解決 Android 11+ 掃不到 App 的問題) -->
    <queries>
        <intent>
            <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
        </intent>
        <intent>
            <action android:name="android.nfc.cardemulation.action.OFF_HOST_APDU_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_combined"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_combined"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NfcSwitcherService"
            android:exported="true"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>